@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  // height: 100%;
  padding: 0;
  // width: 100%;
  margin: 0;
}

body,
#root {
  position: relative;
  background-color: $background-site;
  color: $text-main;
  display: flex;
  flex-direction: column;
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height;

  @media only screen and (min-width: 650px) {
  }
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
  margin: 0 10px;
}

// UTILITIES

.bolded {
  font-weight: 600;
}

.hide-mobile {
  display: none;
}
