.headline {
  display: flex;
  align-items: center;

  margin-top: 7em;
  margin-bottom: 3em;

  &:first-of-type {
    margin-top: 0;
  }

  h1 {
    padding-left: 2em;
  }

  &--popular {
    border-left: 5px solid $hollywood-cerise;
  }

  &--trending {
    border-left: 5px solid $bondy-blue;
  }

  input {
    height: 2rem;
  }
}
