.logo {
  width: 50%;
  height: 100%;
  // margin-left: auto;
  // justify-self: center;
  // align-self: center;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: center;

  @media only screen and (min-width: 650px) {
    width: 25%;
  }

  &--text {
    cursor: pointer;

    display: flex;
    padding-left: 1em;
    align-self: center;
    color: $text-main;
  }
}
