.movie--ratings {
  margin: 1em auto;
  // width: 95%;

  h4 {
    background-color: $pale-green-alpha;
    border: 2px solid $pale-green;
    border-radius: $radius / 2;

    width: fit-content;

    line-height: 1rem;
    text-align: center;
    margin: unset;
    padding: 0.75em 1.25em;

    letter-spacing: 0.05rem;
  }
}
