@import "../base/colors";
@import "../base/config";

.movie--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 1em;

  background-position: top;
  background-repeat: no-repeat;
  background-size: 150%;
  transition: all 0.3s ease-in-out;

  min-height: 350px;

  height: 100%;
  width: 100%;
  cursor: pointer;

  @media screen and (min-width: 750px) {
    min-width: 300px;
    max-width: 450px;
    height: 350px;
  }

  &:hover {
    background-size: 170%;
  }

  &--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    margin: 0.5em auto;

    &--genre {
      justify-content: start;
      margin: 0.1em 0;
    }
  }

  &--title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.051rem;
    justify-self: start;
    // width: fit-content;
    width: 100%;
    // max-width: 95%;
    // margin: 1em;
    margin: auto;
    margin-bottom: 0;
  }

  &--description {
    font-family: $font-secondary;
    color: $text-secondary;
    font-size: 1rem;
    letter-spacing: 0.025rem;
    line-height: 1rem;
    width: 35%;
    margin-top: 1em;
    // margin: 1em auto;

    text-overflow: ellipsis;
  }
}

.movie--cards--container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 750px) {
    flex-direction: row;
    width: max-content;
    height: unset;
  }
}

.movie--cards--wrapper {
  width: 100%;
  overflow: auto;
}
