.nav {
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 50%;

  flex-grow: 1;
  height: 100%;
  padding: 1em;

  color: $text-main;
  font-family: "Montserrat", sans-serif;

  @media only screen and (min-width: 950px) {
    position: unset;

    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
  }

  &--hamburger {
    display: flex;
    justify-content: flex-end;
    fill: $purple;
    width: 50%;
    // order: 99;
    align-self: center;
    justify-self: flex-end;
    // background-color: $background-contrast;
  }

  &--list {
    display: flex;
    width: auto;
    flex-direction: column;

    // background-color: $background-site;
    margin: auto;
    // border-radius: $radius;

    @media only screen and (min-width: 650px) {
      position: unset;
      background-color: unset;
      display: flex;
      width: 80%;
      flex-direction: row;

      margin: unset;
      margin-left: auto;
    }

    &--item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      font-size: $font-size-large;
      margin: 0.75em auto;

      & img {
        padding-right: $spacing;
      }
    }
  }
}

.hide-mobile {
  display: none;
}

@media only screen and (min-width: 650px) {
  .show-desktop {
    display: flex;
  }

  .hide-desktop {
    display: none;
  }
}

@media only screen and (min-width: 950px) {
}

// .nav {
//   display: flex;
//   flex-direction: column;
//   justify-self: center;
//   height: 50%;
//   width: 100%;

//   color: $text-main;
//   font-family: "Montserrat", sans-serif;

//   &-list {
//     display: flex;
//     width: auto;
//     flex-direction: column;
//     justify-items: center;

//     margin: auto;

//     &--item {
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//       width: 100%;

//       font-size: $font-size-large;
//       margin: 0.75em auto;

//       & img {
//         padding-right: $spacing;
//       }
//     }
//   }
// }
