.nav {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: flex-end;

  flex-grow: 1;
  height: 100%;
  padding: 1em;

  color: $text-main;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  @media only screen and (min-width: 950px) {
    position: unset;

    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 75%;
  }

  @media only screen and (min-width: 1200px) {
    flex-grow: unset;
  }

  &--hamburger {
    display: flex;
    justify-content: flex-end;
    fill: $athens-gray;
    width: 50%;
    align-self: center;
    justify-self: flex-end;
  }

  &--list {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 1em;

    @media only screen and (min-width: 750px) {
      align-self: center;
      width: 75%;
    }

    @media only screen and (min-width: 950px) {
      position: unset;
      background-color: unset;
      display: flex;
      width: 50%;
      flex-direction: row;

      margin: unset;
      margin-left: auto;
    }

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &:first-child {
        justify-content: flex-start;

        @media only screen and (min-width: 950px) {
          justify-content: center;
        }
      }

      &:last-child {
        justify-content: flex-end;
      }

      font-size: $font-size-large;
      margin: 0.75em auto;

      & img {
        padding-right: $spacing;
      }
    }
  }
}

.hide-mobile {
  display: none;
}

@media only screen and (min-width: 950px) {
  .show-desktop {
    display: flex;
  }

  .hide-desktop {
    display: none;
  }
}
