// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

// MAIN COLOR PALETTE
$dark-charcoal: #333333;
$pale-green: #00b488;
$pale-green-alpha: #00b48750;
$athens-gray: #f9f9fb;
$silver-sand: #c5c5c5;
$strong-cyan: #0086b4;

$background-site: $dark-charcoal; // ORIGINAL

$text-main: $athens-gray;
$text-secondary: $silver-sand;
